li {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

h1 {
  background-color: aliceblue;
  justify-content: center;
}

.review-display {
  background-color: aliceblue;
  font-family: "Times New Roman", Times, serif;
}
